/* *{
 border: solid 3px;
} */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20vh;
}
.divpics{
    height: 50vh;
    
}

#imgmid{
    width: 35vw;
}
img{
    height: 45vh;
}
a{
    text-align: center;
}
body{
    background-image: Url(https://img.onlinedown.net/download/202104/155252-6086715432b9d.jpg);
    background-repeat: none;
    background-size: cover;

}
a:link {
    font-size: 2rem;
    font-weight: bolder;
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #f1f1f1;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: red;
    background-color: transparent;
    text-decoration: none;}