header{
    position: fixed;
    /* position: sticky; */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    height: 103%;
    /* width: 100%; */
    margin-top: 0%;
    padding-top: 0%;
}
.werkevenkankermenu{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    padding-top: 0%;
    /* height: 100%; */
    /* width: 100%; */
}
body{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    background-image: url(img/malenia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin-top: 1vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.favextraleft{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-content: left; */
    height: 100vh;
    width: 100vw;
    margin-left: 2vw;
    margin-top: 5%;
}
.favmid{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-content: center; */
    /* align-items: center; */
    height: 100vh;
    width: 100vw;
    color: black;
    margin-top: 70vh;
}
.favextraright{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-content: center; */
    height: 100vh;
    width: 100vw;
    margin-right: 2vw;
    margin-top: 5%;
}
#fav{
    height: 40vh;
    width: 30vw;
}
.favextra {  
    height: 28vh;
    width: 30vw;    
}
.favextra2 {  
    height: 28vh;
    width: 30vw;    
}
h1{
    font-weight: bold;
}