*{
    margin: 0%;
    padding: 0%
}

#uitleg{
    display: flex;
    align-content: center;
    justify-content: center;
}

#fg{
    display: flex;
    align-content: center;
    justify-content: center;
}