html, body {
    /* height: 100%; */
    /* margin: 0; */
  }
  .werkevenkutmenu{
    position: sticky;
    margin-top: 0%;
    padding-top: 0%;
    height: 100vh;
    /* width: 100vw; */
     
  }
  header{
    width: 100vw;
  }
  body {
    background: black;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 0vh; 
    background-image: url(img/gojo.gif);
    background-size:  cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 99vw;
  }
  .gifding{
   
 }
  .game{
    /* background: black;*/
    display: flex; 
    align-items: center;
    justify-content: center;
    /*margin-top: 0vh; 
    background-image: url(img/gojo.gif);
    background-size:  cover;
    background-repeat: no-repeat; */
    height: 100vh;
    width: 99vw; 
  }
  h1{
    /* color: snow;
    font-size: larger; */
  }
  #speler1{
    background-image: url(img/Jotaro.png);
    height:  50px;
    width:  50px;
  }
  #speler2{
    background-image: url(img/flappy.png);
    height: 50px;
    width: 50px;
  }
  .message{
  position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: blue;
	top: 12vh;
	/* left: 10vw; */
	text-align: center;
  }
  .score {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 10vh;
    font-weight: 100;
    color: red;
    top: 10%;
    left: 0;
  }
  
  .score_val {
    color: black;
  }
  .score_val2{
    color: black;
  }