html, body {
    height: 100%;
    margin: 0;
  }
  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/JOJOS.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }
  h1{
    color: snow;
    font-size: larger;
  }
  #speler1{
    background-image: url(/Jotaro.png);
  }
  #speler2{
    background-image: url(flappy.png);
  }
  .message{
  position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: blue;
	top: 12vh;
	left: 20vw;
	text-align: center;
  }