
  *{
 margin: 0%;
 padding: 0%;   
}
#HomeList{
    background-color: #333;
}
#Menu{
    border: solid black 0.5rem;
    display: flex;
    justify-content:space-between ;
    background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6vh 8.5vw;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  