body{
    background-color: hwb(151 22% 23%);
 
}
<<<<<<< HEAD
img { 
    
}
=======


#programmeertalen {
    height: 260px;
    width: 500px;

}

.all{
    display: flex;
    justify-content: center;
    align-content: center;
    /* flex-direction: column; */
}
.foto{
    margin-left: 32vw;
}
>>>>>>> 92446088c1c932a0e75e23c5424a5aeff204ae0c
