body{
    background-color: hwb(151 22% 23%);
 
}



#programmeertalen {
    height: 260px;
    width: 500px;

}

.all{
    display: flex;
    justify-content: center;
    align-content: center;
    /* flex-direction: column; */
}
.foto{
    margin-left: 38vw;
}


